<template name="login">
    <div class="login-page ng-scope ui-view">
        <div class="row">
            {{#if currentUser}}
            <div class="col-sm-offset-10">
                <a class="login-link-text" href="{{pathFor route='overview'}}">
                    <span class="glyphicon glyphicon-remove fa-3x" aria-hidden="true"></span>
                </a>
            </div>
            {{/if}}
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <img src="flat-avatar.png" class="user-avatar"/>
                <h1>Aether
                    <br/>
                    <small>Powerful Reveal.js presentations</small>
                </h1>
                {{> loginButtons }}
            </div>
        </div>
    </div>
</template>