<Template name="overview">
    <div class="overview-page ui-view main" key="overview">
        <a href="{{pathFor 'create'}}" class="pull-right btn btn-primary btn-outline btn-rounded">Add new</a>
        <h2>Presentations
            <small>Edit and present!</small>
        </h2>
        {{#each presentations}}
            {{> presentation}}
        {{/each}}
    </div>
</Template>

<Template name="presentation">
    <div class="jumbotron presentation-section">
        <p class="pres-title">{{name}}</p>
        <p class="pull-right">
            <small class="smaller">created: {{formatDate created}}</small>
            <a class="btn btn-danger btn-outline btn-rounded remove">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a href="/edit/{{name}}" class="btn btn-primary btn-outline btn-rounded">
                Edit <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <a class="btn btn-success btn-outline btn-rounded" href="/present/{{name}}">
                Present <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
        </p>
    </div>
</Template>